---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Tools">
    <p>Hmm that tool isn't in the toolbox 🤔</p>
</PageLayout>

<style>
    p {
        text-align: center;
    }
</style>
